.explainer {
  padding: 5% 2em;
  overflow: hidden;
}

.explainer-strong-1 {
  color: white;
  background-color: $strong-color-1;
  & a {
    color: white;
    text-decoration: underline;
  }
}
.explainer-strong-2 {
  background-color: $strong-color-2;
  color: $text-color;
  & a {
    color: $text-color;
    text-decoration: underline;
  }
}

.mc-button {
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33333;
  border: none;
  color: white;
  width: 350px;
  margin: 2px;
  display: inline-block;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in-out all;
  }
  &:visited {
    color: white;
  }
}
.mc-button-default {
  background-color: $brand-color;
  &:hover {
    background-color: lighten($brand-color, 15%);
  }
}
.mc-button-warning {
  background-color: $strong-color-1;
  &:hover {
    background-color: lighten($strong-color-1, 15%);
  }
}

.factor {
  padding: 3%;
}
.factor-group:nth-child(even) {
  background-color: lighten($brand-color, 10%);
}
.factor-label {
  font-size: 1.4em;
}
.factor-title {
  font-size: 1.4em;
  display: block;
}
.factor-input {
  font-size: 1.8em;
  padding: 1em;
}
.factor-dark {
  background-color: $brand-color;
  color: white;
  & a {
    color: white;
    text-decoration: underline;
  }
}
.factor-light {
}
.factor-heading {
  text-align: center;
  margin-top: 2em;
}
.factor-number {
  display: inline-block;
  height: 1.2em;
  line-height: 1.2em;
  background: black;
  color: white;
  padding: 0 5px;
  border-radius: 5px;
}

.outcomes td,
.outcomes thead th {
  text-align: right;
}
.outcome-amount {
  white-space: nowrap;
}
